<html>

This HTML meant for testing only

<p>

</p>

<button type="button" (click)="getCovid()">
  Click for Covid Service
</button>

<p>

</p>

<button type="button" (click)="getCovid()">
  Click for Local Python Web.py Service
</button>

<h2>
  {{articles}}
</h2>

<b>
Sample Example Links
</b>

<p></p>
<a href="https://www.w3schools.com/html/html_basic.asp">Basic HTML</a>
<p></p>
<a href="https://www.techiediaries.com/angular/angular-8-7-tutorial-example-rest-api-httpclient-get-ngfor/">Sample Angular</a>

</html>